img.main{
    height: 40px;
    width: 40px;
}
img{
     height: 30px;
     width: 30px;
 }
button{
    height: 60px;
    width: 120px;
    background: url(/images/woodimg.jpg);
}
body#voc{
    width: 200px;
    padding: 10px;
    margin: auto;
    background: url(/images/MainBack.jpg);
    background-size: 100%;
}
body#main{
    width: 200px;
    padding: 10px;
    margin: auto;
    background: url(/images/MainBack.jpg);
    background-size: 100%;
}