img{
    height: 15px;
    width: 15px;
}
body{
     background: url(/images/MainBack.jpg);
     background-size: 100%;

 }
button{
    width: 40px;
    height:40px;
}
span{
    display: inline-block;
    width: 120px;
    height: 40px;
}
.inp{
    margin-bottom: 20px;
}

.list_ul{
    background-color: RGBA(50, 50, 50, 0.5);
    padding: 10px;
    color: #d0d0d0;

}
ul{
    list-style: none;
}
li{
    margin: 5px;
    text-align: center;
}
